html {
   background-color: blue;
}

header {
   text-align: center; 
   Padding: 30px;
   font-family: Arial
}

nav {
   text-align: center;
   word-spacing: 30px;
   Padding: 20px;
   background-color: gray;
   font-color: white;
   font-family: Arial;
}

