html {
   background-color: gray;
   font-family: Arial
}

header {
   text-align: center; 
   Padding: 30px;
}

nav {
   text-align: center;
   word-spacing: 30px;
   Padding: 20px;
   background-color: gray;
   color: white;
}

